<template>
        <v-btn
            href="https://next.vuetifyjs.com/components/all/"
            min-width="164"
            rel="noopener noreferrer"
            target="_blank"
            variant="text"
          >
            <v-icon
              icon="mdi-view-dashboard"
              size="large"
              start
            />

            Components
          </v-btn>
    <h1>Welcome to admin</h1>
    <v-icon class="mr-1" icon="mdi-heart"></v-icon>
    <div>
        <router-link to="/">Home page</router-link>
    </div>
</template>
