<template>
    <v-container fluid grid-list-xl>
        <div class="d-flex justify-start mb-6">
            <div class="ma-2 pa-2" style="width:200px;">
                    <v-select
                    v-model="filter.year"
                    label="Year"
                    density="compact"
                    :items="[2023, 2024]"
                    variant="solo"
                    clearable
                    ></v-select>
            </div>
            <div class="ma-2 pa-2" style="width:300px;">
                <v-text-field
                    :loading="loading"
                    density="compact"
                    variant="solo"
                    label="Search a employee"
                    append-inner-icon="mdi-magnify"
                    single-line
                    hide-details
                    v-model="search"
                    @input="getAtten()"
                    @click:append-inner="onClick"
                ></v-text-field>
            </div>
        </div>
        <v-card class="rounded-0" >
            <v-data-table
            :headers="headers"
            :items="filteredItems"
            :search="search"
            item-key="name"
            class="elevation-1 custom-table"
            >
            <template v-slot:item.name="{ item }">
                {{ item.raw.last_name }} {{ item.raw.first_name }}
            </template>
            <template v-slot:item.year="{ item}">
                {{ formatYear(item.raw.created_at) }}
            </template>
            <template v-slot:item.credit_sl="{ item }">
                <span v-if="item.raw.leave_id == 1">
                    {{ item.raw.credit_leave }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.credit_al="{ item }">
                <span v-if="item.raw.leave_id == 2">
                    {{ item.raw.credit_leave }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.credit_ul="{ item }">
                <span v-if="item.raw.leave_id == 3">
                    {{ item.raw.credit_leave }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.sl_token="{ item }">
                <span v-if="item.raw.leave_id == 1">
                    {{ item.raw.leaves_taken }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.al_token="{ item }">
                <span v-if="item.raw.leave_id == 2">
                    {{ item.raw.leaves_taken }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.ul_token="{ item }">
                <span v-if="item.raw.leave_id == 3">
                    {{ item.raw.leaves_taken }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.sl="{ item }">
                <span v-if="item.raw.leave_id == 1">
                    {{ item.raw.leave_balance }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.al="{ item }">
                <span v-if="item.raw.leave_id == 2">
                    {{ item.raw.leave_balance }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            <template v-slot:item.ul="{ item }">
                <span v-if="item.raw.leave_id == 3">
                    {{ item.raw.leave_balance }}
                </span>
                <span v-else>
                    {{ 0 }}
                </span>
            </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
import Atten from '../../services/api/attendance'

  export default {
    name: 'LeaveView',
    computed: {
        filteredItems() {
            if (this.search) {
                let searchRegex = new RegExp(this.search, 'i');
                this.attens = this.attens.filter(item => searchRegex.test(item.last_name) || searchRegex.test(item.name));
            }
            return this.attens.filter((item) => {
                const itemDate = new Date(item.created_at); // or whatever the date property is named
                const itemYear = itemDate.getFullYear(); // extract the year from the date
                const itemMonth = itemDate.getMonth(); // extract the month from the date (note: month is zero-indexed)
                return (
                (!this.filter.year || itemYear === this.filter.year) && // compare the year to the filter value
                (!this.filter.month || itemMonth === parseInt(this.filter.month) - 1)// compare the month to the filter value
                );
            });
        },
    },
    data: () => ({
        loaded: false,
        loading: false,
        headers: [
            [
                {
                    title: 'Employee',
                    key: 'em',
                    align: 'center',
                    sortable: false,
                    colspan: 3,
                },
                {
                    title: 'Leaves Credit',
                    key: 'leave',
                    align: 'center',
                    sortable: false,
                    colspan: 3,
                },
                {
                    title: 'Leaves Taken',
                    key: 'taken',
                    align: 'center',
                    sortable: false,
                    colspan: 3,
                },
                {
                    title: 'Leave Balance',
                    key: 'balance',
                    align: 'center',
                    sortable: false,
                    colspan: 3,
                    variant:"secondary"
                },
            ],
            [
                    {
                    title: 'Name',
                    align: 'start',
                    sortable: false,
                    key: 'name',
                },
                { title: 'Department', align: 'center', key: 'sort_name', sortable: false, },
                // { title: 'Month', align: 'center', key: 'month' },
                { title: 'Year', align: 'center', key: 'year',sortable: false, },
                { title: 'SL', key: 'credit_sl' ,sortable: false,},
                { title: 'AL', key: 'credit_al',sortable: false, },
                { title: 'UL', key: 'credit_ul' ,sortable: false,},
                { title: 'SL', key: 'sl_token',sortable: false, },
                { title: 'AL', key: 'al_token', sortable: false, },
                { title: 'UL', key: 'ul_token' , sortable: false,},
                { title: 'SL', key: 'sl' , sortable: false,},
                { title: 'AL', key: 'al' , sortable: false,},
                { title: 'UL', key: 'ul', sortable: false, },
            ]
        ],
        depts: [],
        attens: [],
        leaves: null,
        data: [],
        filter: {
                year: null,
                month: null
        },
        months: [
            { text: "January", value: '01' },
            { text: "February", value: '02' },
            { text: "March", value: '03' },
            { text: "April", value: '04' },
            { text: "May", value: '05' },
            { text: "June", value: '06' },
            { text: "July", value: '07' },
            { text: "August", value: '08' },
            { text: "September", value: '09' },
            { text: "October", value: '10' },
            { text: "November", value: '11' },
            { text: "December", value: '12' },
        ],
    }),
    mounted() {
        this.getAtten();
    },
    methods: {
        onClick () {
            this.loading = true

            setTimeout(() => {
            this.loading = false
            this.loaded = true
            }, 2000)
        },
        getAtten() {
            Atten.leaveView()
            .then(res => {
                this.attens = res.data.data;
                // console.log("attendance", this.attens);
            })
        },
        formatMonth(dateString) {
            const d = new Date(dateString)
            return d.toLocaleString('default', { month: 'long' })
        },
        formatYear(dateString) {
            const d = new Date(dateString)
            return d.getFullYear()
        }
    },
  };
</script>

<style>
.custom-table th{
    border: 0.1px solid rgb(230, 228, 228);
    border-collapse: collapse;
    background-color: #f2f2ff!important;
    color: rgb(7, 7, 7)!important;
}

.custom-table td {
    border: 0.1px solid rgb(230, 228, 228);
    border-collapse: collapse;
}

.custom-table thead {
    border: 0.1px solid rgb(230, 228, 228);
}

</style>
