<template>
  <v-container fluid grid-list-xl>
    <v-row>
        <v-col cols="6" md="4" sm="4">
           <v-card>
            <div class="text-center text-grey-darken-3">
                <v-avatar size="150" class="ma-6">
                    <span v-if="user.image">
                        <v-img :src="getImageUrl(user.image)" />
                    </span>
                    <span v-else>
                        <v-img src="../../../assets/man_avatar.png" />
                    </span>
                </v-avatar>
                <h3>{{ user.last_name }} {{ user.first_name }}</h3>
            </div>
            <div class="ma-4 text-grey-darken-2">
                <h4>Details</h4>
                <v-divider></v-divider>
                <p><b>Gender:</b> {{ user.gender }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Phone:</b> {{ user.phone }}</p>
                <p><b>Address:</b> {{ user.address }}</p>
                <p><b>Department:</b> {{ user.dept_name }}</p>
                <p><b>Start Date:</b> {{ user.start_date }}</p>
                <p><b>Position:</b> <strong class="text-blue">{{ user.role_name }}</strong></p>
            </div>
           </v-card>
        </v-col>
        <v-col>
            <v-card rounded="lg">
                <v-data-table
                    :headers="headers"
                    :items="leaves"
                    class="elevation-1"
                >
                <template v-slot:top>
                <v-toolbar
                flat color="white"
                >
                <v-toolbar-title>Leave Annuals</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-dialog
                    v-model="dialog"
                    max-width="500px"
                >
                    <template v-slot:activator="{ props }">
                        <v-btn color="blue" prepend-icon="mdi-plus-circle" variant="tonal" v-bind="props">
                            add
                        </v-btn>
                    </template>
                    <v-card>
                    <v-card-title class="text-center">
                        <span class="text-h5 text-indigo-accent-2">{{ formTitle }}</span>
                    </v-card-title>
                    <!-- <v-divider></v-divider> -->
                    <v-card-text>
                        <v-container>
                            <v-select
                                v-model="editedItem.year_id"
                                :items="years"
                                item-value="id"
                                item-title="year_number"
                                label="Year"
                                variant="outlined"
                            ></v-select>
                            <v-select
                                v-model="editedItem.leave_id"
                                :items="leave_types"
                                item-value="id"
                                item-title="leave_name"
                                label="Leave Type"
                                variant="outlined"
                            ></v-select>
                            <v-text-field
                                v-model="editedItem.credit_leave"
                                label="Credit Leave"
                                variant="outlined"
                                type="number"
                            ></v-text-field>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                        color="grey-darken-1"
                        variant="tonal"
                        @click="close"
                        >
                        Cancel
                        </v-btn>
                        <v-btn
                        color="blue-darken-1"
                        variant="tonal"
                        @click="save(user.user_id)"
                        >
                        Save
                        </v-btn>
                    </v-card-actions>
                    </v-card>
                </v-dialog>
                </v-toolbar>
                <v-divider></v-divider>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-icon
                    size="small"
                    class="me-2"
                    color="green"
                    @click="editItem(item.raw)"
                    >
                    mdi-pencil
                    </v-icon>
                    <v-icon
                    size="small"
                    color="red"
                    @click="deleteItemConfirm(item.raw)"
                    >
                    mdi-delete
                    </v-icon>
                </template>
                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import Api from "../../services/api/Api";

export default {
    data: () => ({
        dialog: false,
        dialogDelete: false,
        headers: [
            { title: 'Leave Type', key: 'leave_name'},
            { title: 'Credit Leave', key: 'credit_leave'},
            { title: 'Actions', key: 'actions'}
        ],
        user: {},
        years: [
            {title: 'year_number'}
        ],
        leaves: [],
        id: '',
        em: [],
        leave_types: [
            {title: 'leave_name'}
        ],
        editedIndex: -1,
        editedItem: {
          user_id: '',
          leave_id: '',
          credit_leave: '',
        },
        defaultItem: {
            leave_id: '',
            credit_leave: '',
        },
    }),

    computed: {
        formTitle () {
          return this.editedIndex === -1 ? 'New Leave Annual' : 'Edit Leave Annual'
        }
    },

    watch: {
        dialog (val) {
          val || this.close()
        },
        dialogDelete (val) {
          val || this.closeDelete()
        },
    },
    created() {
        this.id = this.$route.params.id;
        // console.log(this.id);
        // get User
        axios.get('http://localhost:8000/api/v1/staff/getStaff/'+this.id)
        .then(res => {
            this.user = res.data[0];
            console.log('this user:', this.user);
        }).catch(err => {
            console.log("create error", err);
        })
        // get Leave credit
        this.getLeave();

        // get leave type
        axios.get('http://localhost:8000/api/v1/leave/listTable')
        .then(res => {
            this.leave_types = res.data.data;
        })
        this.getYear();
    },
    methods: {
        getLeave () {
            axios.get('http://localhost:8000/api/v1/leave_annual/getLeaveStaff/'+this.id)
            .then(res => {
                this.leaves = res.data;
                // console.log("leave", this.leaves);
            })
        },

        getYear () {
            axios.get('http://localhost:8000/api/v1/leave_annual/years')
            .then(res => {
                this.years = res.data
                // console.log("year", this.years);
            })
        },

        editItem (item) {
          this.editedIndex = this.leaves.indexOf(item)
          this.editedItem = Object.assign({}, item)
          console.log('data', this.editedItem);
          this.dialog = true
        },

        close () {
          this.dialog = false
          this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
          })
        },

        closeDelete () {
          this.dialogDelete = false
          this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
          })
        },

        save (id) {
            let item = {}
            // console.log('this id', id);
            this.editedItem.user_id = id
            item = this.editedItem
            // console.log('annual', this.editedItem)
            if (this.editedIndex > -1) {
                const index = this.editedIndex
                // console.log(this.editedItem.id);
                axios.put(`http://localhost:8000/api/v1/leave_annual/update/${this.editedItem.id}` , this.editedItem)
                .then(response =>{
                    Object.assign(this.leaves[index], response.data)
                    // console.log("data", response.data);
                    if (response.data.data == null) {
                        this.$swal({
                            title: "Oops",
                            text: "Fail to update, something went wrong!",
                            icon: "error",
                        });
                    }else {
                        this.$swal({
                            title: "Success",
                            text: "Update Successfully!",
                            icon: "success",
                        });
                    }
                    this.close();
                })
                .catch(err => {
                    console.log(err.response)
                    this.$swal(
                        {
                            title: 'Oops',
                            text:"Fail, something went wrong!",
                            icon: 'error'
                        }
                    )
                })
            } else {
                // leave.createLeaveAnnual(this.editedItem)
                axios.post('http://localhost:8000/api/v1/leave_annual/create', this.editedItem)
                .then(res => {
                   console.log('success', res);
                   if (res.data.data == null) {
                        this.$swal({
                            title: "Oops",
                            text: "Fail to create, something went wrong!",
                            icon: "error",
                        });
                    }else {
                        this.$swal({
                            title: "Success",
                            text: "Create Successfully!",
                            icon: "success",
                        });
                    }
                }) .catch(err => {
                    console.log(err.response)
                    this.$swal(
                        {
                            title: 'Oops',
                            text:"Fail, something went wrong!",
                            icon: 'error'
                        }
                    )
                })
            }
            this.close();
            this.getLeave();
        },

        deleteItemConfirm (item) {
            // console.log("id", item)
            this.$swal({
                title: "Are you sure?",
                text: "Do you want to delete this item ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "##DC143C",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes",
            }).then((result) => {
                if (result.value) {
                    axios.delete('http://localhost:8000/api/v1/leave_annual/delete/' + item.id)
                    this.$swal({
                        title: "Success",
                        text: "Create Successfully!",
                        icon: "success",
                    })
                    this.getLeave();
                    this.closeDelete()
                }
            })
            .catch(err =>{
                console.log(err.response)
                this.$swal(
                    {
                        title: 'Oops',
                        text:"Fail, something went wrong!",
                        icon: 'error'
                    }
                )
            });
            this.getLeave();
            this.closeDelete()
        },
        getImageUrl(attachment) {
                return `/storage/${attachment}`;
            },
    }
}
</script>

<style>

</style>
