<template>
    <Pie :data="PieData" />
</template>

<script>
//   import Staff from '../../services/api/department'
  import { Pie } from 'vue-chartjs'
  import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    ArcElement,
    CategoryScale
  } from 'chart.js'

  ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale)

  export default {
    name: 'PieChart',
    components: {
      Pie
    },

    data() {
      return {
        em: null,
        PieData: {
          labels: ['Male', 'Female'],
          datasets: [
            {
              backgroundColor: ['#82a4db', '#2b9753'],
              data: [10, 20 ]
            }
          ]
        },
        chartOptions: {
          responsive: true,
          maintainAspectRatio: false
        }
      }
    },
    mounted () {
        
    },
  }
  </script>


